<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">
	<resultMap type="com.test.choco.vo.AdminVO" id="AdminVO">
		<result column="ADMIN_NUM" property="adminNum"/>
		<result column="ADMIN_ID" property="adminId"/>
		<result column="ADMIN_PW" property="adminPw"/>
		<result column="CREATE_TIME" property="createTime"/>				
	</resultMap>
	
	<resultMap type="com.test.choco.vo.BoardVO" id="BoardVO">
		<result column="BOARD_NUM" property="boardNum"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_DATE" property="boardDate"/>
		<!-- <result column="ADMIN_ID" property="adminId"/> -->
		<result column="BOARD_MODIFIED" property="boardModified"/>
	</resultMap>
	
	<select id="adminLogin" resultType="INTEGER">
		SELECT COUNT(*)
		FROM ADMIN_INFO
		WHERE ADMIN_ID = #{adminId}
     		AND ADMIN_PW = #{adminPw}
	</select>
	
	<insert id="noticeInsert">
	<selectKey keyProperty="boardNum" resultType="String" order="BEFORE">
		SELECT NVL(MAX(BOARD_NUM),0)+1 AS "BOARD_NUM" FROM BOARD
	</selectKey>
	INSERT INTO BOARD(BOARD_NUM,BOARD_TITLE,BOARD_CONTENT,BOARD_DATE,ADMIN_ID)
	VALUES(#{boardNum},#{boardTitle},#{boardContent},SYSDATE,'admin')
	</insert>
	
	<select id="noticeList" resultMap="BoardVO">
	SELECT BOARD_NUM,BOARD_TITLE,BOARD_DATE
	FROM BOARD
	ORDER BY BOARD_NUM DESC
	</select>
	
	<delete id="noticeDelete">
	DELETE
	FROM BOARD
	WHERE BOARD_NUM = #{boardNum}
	</delete>
	
	<update id="noticeUpdate">
	UPDATE BOARD
	SET BOARD_TITLE = #{boardTitle}
	   ,BOARD_CONTENT = #{boardContent}
	   ,BOARD_MODIFIED = SYSDATE
	WHERE BOARD_NUM = #{boardNum}
	    AND ADMIN_ID = #{adminId}
	</update>
	
	<select id="noticeUpdateForm" resultMap="BoardVO">
	SELECT *
	FROM BOARD
	WHERE BOARD_NUM = #{boardNum}
	</select>
</mapper>